*{
  font-family: 'Lucida Sans Regular',  sans-serif;
  font-size:2vh;
}
.nav-part{
  height:5.75vh;
  background-size: cover;
}
.search-box{
  background-color: rgb(220, 115, 115);
  outline:none;
  margin-left: 1.5vw;
  height:3.5vh;
  border: none;
  inline-size: 12vw;
}
::placeholder{
  color: rgb(245, 242, 245);
}
.todayPage{
  margin-top: 5vh;
  margin-left: 13vw;
}
.overdue{
  margin-top: 5vh;
}
.today-hr{
  width: 53vw;
}
.container{
  max-width:80vw;
  display:flex;
  padding-left: 1%;
}
.project{
  border: 0px solid grey;
}
.side-bar{
  height: 93vh;
  width: 15vw;
  padding-top: 5vh;
  padding-left: 2vw;

}
.opt:hover{
  background-color:rgb(236, 236, 234);
  cursor: pointer;
  border-radius: 5%;
}
.check-round:hover{
  cursor: pointer;
}
.title{
  width: 63vw
}
.each-project{
  min-height: 80vh;
  width: 65%;
  margin-left: 10%;
  margin-top: 4.5vh;
}
.modal-content{
  min-height: 50vh;
  width: 40vw;
}
.adding{
  background-color:white;
  outline:none;
  margin: 1%;
  height:3.8vh;
  border-width: 1px;
  inline-size: 24vw;
  padding: 1%;
}
.adding-colour{
  width: 12vw;
  box-shadow: 1px 1px rgb(61, 58, 58);
  background-color: white;
}
.task-add-btn{
  width: 5vw;
  font-size: 1.5vh;
}
.task-add-btn:hover{
  background-color: rgb(66, 237, 237);
}
.adding-task{
  outline:none;
  border-radius: 0.8rem;
  width: 50vw;

}
/* .tasks-bg{
  background-image: url("https://media.discordapp.net/attachments/952151037702176778/976077558217072640/task.png");
} */
::placeholder{
  color: rgb(155, 163, 163);
}

.bg-check{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-check' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E");
}
.strike{
  text-decoration: line-through;
  font-weight: bold;
  color:rgb(115, 117, 118)
}
.moreOptions{
  cursor: pointer;
  display: flex;
}

@media (max-width:450px){
  .sidebar{
    height:93vh;
    min-width: 27%;
    padding-left: 1%;
    padding-top: 3vw;
  }
  .container{
    max-width:100vw;
    display:flex;
    justify-content: flex-start;
    padding-left: 0;
  }
  .adding-task{
    width:45vw;
    height: 18vh;
  }
  .modal-content{
    height: 40vh;
    width: 30vw;
    margin-left: 30%;
    margin-top: 15%;
  }
}
